@import 'tailwindcss';

@layer base {
  @font-face {
    font-family: 'icons';
    src: url('assets/font/fontello.eot?14379061');
    src: url('assets/font/fontello.eot?14379061#iefix')
        format('embedded-opentype'),
      url('assets/font/fontello.woff?14379061') format('woff'),
      url('assets/font/fontello.ttf?14379061') format('truetype'),
      url('assets/font/fontello.svg?14379061#fontello') format('svg');
    font-style: normal;
    font-weight: normal;
  }
}
@theme {
  --color-poke-blue: #3b82f6;
  --color-poke-red: #ef3e36;
  --color-poke-green: #4ade80;
  --color-poke-yellow: #ffd447;
  --color-poke-gray-dark: #1e293b;
  --color-poke-gray-light: #f3f4f6;
  --font-icons: 'icons';
}
@layer components {
  .icon {
    @apply normal-case not-italic antialiased text-[125%] text-poke-gray-dark;
  }
}
